body, html {
	height: 100%;
}

#wrap {
	width: 470px;
	height: 100%;
	background-image: url(../../image/bg-login.png);
	background-color: #fff;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

#container {
	display: flex;
	flex-direction: column;
	align-items: center;
	max-width: 400px;
	margin: 0 auto;
	height: 100%;
}

.login-container {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 25px;
	height: 100%;
}

#login_form {
	margin-top: -10px;
	width: 100%;
}

.login-box {
	position: relative;
	display: flex;
	flex-direction: column;
	align-items: center;
	top: 30%;
}

.headline {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 70%;
	height: auto;
	margin-top: 15px;
	margin-bottom: 30px;
	font-size: 30px;
	font-weight: bold;
	color: #104958;
}

.logo-inner {
	height: 93px;
	width: 175px;
	margin-top: 60px;
}

.headline-inner {
	/* background: rgba(0,0,0,0.3); */
	border-radius: 10px;
	width: 100%;
	text-align: center;
	color: #fff;
	text-shadow: 2px 2px 5px black;
}

.headline > span {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

	.headline > span > img {
		width: 80%;
		height: auto;
	}

.login-box {
	width: 100%;
}

.login-input {
	display: flex;
	flex-direction: column;
	width: 100%;
	margin-bottom: 10px;
	font-size: 14px;
	font-weight: bold;
}

	.login-input > input {
		width: 100%;
		height: 55px;
		padding: 0px 10px;
		/* border-radius: 5px; */
		color: #f5f0f0;
		font-size: 13px;
		border-bottom: 1px solid #92929259;
		background-color: rgb(0,0,0,0.5);
		border-top: none;
		border-left: none;
		border-right: none;
	}



.remember {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	width: 100%;
	margin-top: 5px;
	text-align: left;
	font-size: 14px;
	color: #fff;
	font-weight: 800;
}

.checkbox-wrap {
	display: flex;
	align-items: center;
	cursor: pointer;
}

#sign {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.button {
	width: 100%;
	height: 35px;
	margin-top: 15px;
	padding: 0 10px;
	font-weight: bold;
	color: #0d0e0e;
	border-radius: 4px;
	border: none;
	background: linear-gradient(to right, #efed96,#fff7af,#fdffef);
}
/* .box-content{
	width:100%;
	background: rgb(0,0,0,0.3);
	border-radius:7px;
	padding:10px;
}
 */
#do {
	/* color: #fff; */
	/* background: linear-gradient(to bottom, #00457f, #2f3964 50%, #399df0 100%); */
}

#cancel {
	background: linear-gradient(to bottom, #FF0B00, #c01e1e 50%, #831e25 100%);
	color: #fff;
}

textarea {
	padding: 5px;
	width: 100%;
	height: 120px;
	color: #fff;
	background: #000;
	border: 2px solid #a88f8f;
	border-radius: 0px;
}

.warning-regis {
	color: red;
	margin-top: 15px;
}

form {
	width: 100%;
}

.box-content {
	width: 100%;
	position: relative;
	background: rgba(0,0,0,0.7);
	border-radius: 10px;
	padding: 10px;
	height: 415px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
