﻿body, html {
}

#wrap { /* min-width: 100%; */
    min-height: 100%;
}

.btnOk {
    margin: 3px;
    background: #3b9a3f;
    color: white;
    width: 130px;
}

.btnCa {
    background: #b5360e;
    width: 130px;
    color: #fff;
    margin: 3px;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 768px;
    margin: 0 auto;
    padding: 10px;
}

.dash-profile {
    margin: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* margin-bottom: 10px; */
    padding: 0px;
}

    .dash-profile > span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 85px;
        height: 30px;
        padding: 10px;
        font-size: 1.55rem;
        font-weight: bold;
        color: #ffffff;
        margin: 5px;
        border-radius: 7px;
    }

.dash-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: -5px;
    border-radius: 20px;
}

.dash-menu-inner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: auto;
}

    .dash-menu-inner > a {
        width: 30%;
        margin: -15px;
    }

        .dash-menu-inner > a > img { /* margin-right: 15px; */
            width: 85px;
            height: 90px;
        }

        .dash-menu-inner > a:visited {
            color: #fff;
        }

        .dash-menu-inner > a:hover {
            color: #fff;
        }

        .dash-menu-inner > a:active {
            color: #fff;
        }

.dash-menu-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    margin: 5px;
    font-size: 14px;
    transition: 0.8s;
}

    .dash-menu-content :hover {
        transition: 0.5s; /* 	background: #318e85;	 */
    }

    .dash-menu-content > span {
        justify-content: center;
        align-items: center;
        color: #f7f7f7;
        font-size: 1rem;
        font-weight: bold;
        background: none;
        border-radius: 20px;
        padding: 10px;
    }
/* .dash-menu-content>span :hover {    background: #fff;} */

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    margin: 0 5px;
}

.headline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 32%;
    margin: 0 5px;
}

    .headline > span {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: auto;
    }

        .headline > span > img {
            width: 100%;
            height: auto;
        }

.dash-table {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: #fff;
}

.dash-table-inner {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin-top: 20px;
}

.dash-table-last {
    margin-bottom: 80px;
}

.dash-table-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 5px 0;
    font-size: 20px;
    font-weight: bold;
    background-color: #21294d;
    border: 1px solid #f0d476;
    border-bottom: none;
}

.dash-table-inner > table {
    width: 100%;
    height: auto;
    text-align: center;
    border-collapse: collapse;
}

th {
    color: #fff;
    text-shadow: 2px 2px 2px #000;
    background: #6d6d6d;
}

tr {
    height: 45px;
}

table th, td {
    font-size: 17px; /* border: 1px solid #f0d476; */
}

td { /* background-color: #1a1c28; */
}
/*Download*/

.downl-sec {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 160px 0px 130px 0px;
    color: #fff;
}

.detail-down h2 {
    font-family: Dosis-bold;
    font-size: 44px;
    line-height: 26px;
    text-align: center;
}

.detail-down hr {
    max-width: 140px;
    background-color: #fff;
    height: 2px;
    margin: 27px auto;
}

.detail-down p {
    font-family: Dosis Regular;
    font-size: 22px;
    line-height: 35px;
    text-align: center;
    width: 49%;
    margin: auto;
}

.mobiles-down {
    margin-top: 130px;
}

    .mobiles-down a {
        display: flex;
        margin: 0 auto;
        color: #fff;
        border: 2px solid #fff;
        background-color: transparent;
        padding: 7px 27px 14px 23px;
        min-width: 320px;
        align-items: center;
        margin-bottom: 30px;
        text-decoration: none;
        height: 92px;
        max-width: 322px;
        max-height: 92px;
        transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    }

        .mobiles-down a:hover {
            background-color: #53c5d5;
        }

        .mobiles-down a p {
            margin: 0;
        }

    .mobiles-down .apple-store {
        background-color: transparent;
        margin-bottom: 30px;
        text-align: center;
    }

        .mobiles-down .apple-store .fa-mobile-alt {
            font-size: 67px;
        }

        .mobiles-down .apple-store p {
            margin-left: auto;
        }

    .mobiles-down .apple p {
        padding: 0 0 0 63px;
    }

    .mobiles-down .google-store p {
        font-family: Arial, Bold;
        text-align: left;
        line-height: 32px;
        padding: 0 0 0 30px;
        vertical-align: middle;
        line-height: inherit;
    }

    .mobiles-down .windows-store {
        max-width: 362px;
        max-height: 92px;
    }

        .mobiles-down .windows-store p {
            text-align: left;
            padding: 0 0 0 30px;
        }

@media (max-width: 992px) {
    .windows-store .win-phon {
        font-size: 26px !important;
    }

    .mobiles-down .windows-store {
        max-width: 322px;
    }
}

.main {
    width: 275px;
    height: 275px;
    border: 1px solid #CCC;
    position: absolute;
    top: -55%;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    border-radius: 50%;
}

.circle {
    width: 30px;
    height: 30px;
    background: #FF5722;
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    : 0;
    left: 0;
    right: 0;
    overflow: hidden;
    margin: auto;
    animation: circle 6s linear infinite;
}

@keyframes circle {
    0% {
        transform: rotate(0deg) translate(-165px) rotate(0deg);
    }

    100% {
        transform: rotate(360deg) translate(-165px) rotate(-360deg);
    }
}

.toe {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-top: -120px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    ;
    align-items: center;
}

hr {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(255, 255, 255, 0));
}

.dash-bonus {
    margin: 12px;
    width: 100%;
    border-radius: 10px; /* padding:5px; */
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

div {
    transition: width 2s;
}

.main-top {
    display: flex;
    transition: 0.3s;
    justify-content: center;
}

.language {
    border-radius: 7px;
    height: 30px;
    color: white;
    font-size: 15px;
    width: 85px;
    display: flex; /* background: linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C); */
    justify-content: center;
    align-items: center;
    border: none;
}

.img-main-dash {
    width: 100px;
}

.fire-img {
    width: 105px;
}

.gnp {
    margin: -20px;
    color: white;
    align-items: center;
    width: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.dash-main-inner {
    padding: 10px;
    background: rgba(0,0,0,0.5);
    width: 100%;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
}

.home {
    margin: 2px;
    align-items: center;
    width: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/home.png);
    height: 85px;
    font-weight: bold;
    font-size: 1.45rem;
}

.tab {
    margin: 2px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/button1.png);
    height: 75px;
    font-weight: bold;
    font-size: 1.45rem;
}

.tab-2 {
    margin: 2px;
    align-items: center;
    width: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/tab-2.png);
    height: 85px;
    font-weight: bold;
    font-size: 1.45rem;
}

.tab-3 {
    margin: 2px;
    align-items: center;
    width: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/tab-3.png);
    height: 85px;
    font-weight: bold;
    font-size: 1.45rem;
}

.tab-4 {
    margin: 2px;
    align-items: center;
    width: 120px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/tab-4.png);
    height: 85px;
    font-weight: bold;
    font-size: 1.45rem;
}

.img-h {
    width: 145px;
}

.text-main {
    font-size: 15px;
    margin-top: -35px;
    text-align: center;
    width: 90px;
    font-weight: bold;
    border-radius: 7px;
    padding: 5px;
    color: #020a0a;
}

.system {
    margin: 2px;
    align-items: center;
    width: 125px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/system.png);
    height: 125px;
    font-weight: bold;
    font-size: 1.45rem;
}

.mainP {
    margin: 2px;
    align-items: center;
    width: 165px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-image: url(../../image/mainP.png);
    height: 125px;
    font-weight: bold;
    font-size: 1.45rem;
    color: #fff;
    text-align: center;
}

.img-order {
    width: 120px;
}

.none {
    background: none;
    height: 45px;
    width: 30%;
    border: none;
}

.drp {
    color: #000;
    border-radius: 4px;
}
