﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Order_apply";
    Layout = "~/Views/Shared/_Layout_Product.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
    <div class="pTable">
        <p class="myPoint">
            <span id="txt_chipbal" data-aos="fade-left" data-aos-duration="2000">보유 검</span> : <strong><span id="t_chipbal">@ViewBag.amount</span></strong><br>
        </p>
        @if (Model != null && Model.tab2.Count != 0)
        {
            foreach (var item in Model.tab2)
            {
                <div class="chBox motion bronze on" style=" background: rgba(0,0,0,.8);">
                    <div class="left" data-aos="fade-in" data-aos-duration="2000" style="opacity:1;">
                        <p class="coin coinBronze">
                            <img src="@Html.DisplayFor(modelItem => item.img)" style="width:150px;">
                        </p>

                        <p class="name" id="txt_gname1">@Html.DisplayFor(modelItem => item.name)</p>
                        @Html.Hidden("token", new { value = item.token })
                    </div>

                    <div class="right">
                        <div class="info">
                            <ul>
                                <li class="tit"><span class="txt_price_kor">판매자</span></li>
                                <li class="con">@Html.DisplayFor(modelItem => item.fullname)</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_plus">가격</span></li>
                                <li class="con">@Html.DisplayFor(modelItem => item.price) 원</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_plus">핸드폰번호</span></li>
                                <li class="con">@Html.DisplayFor(modelItem => item.mobile)</li>
                            </ul>
                            <ul>
                                <li class="con">
                                    <input type="text" id="buy_info" style="color: black;width: 80%;"maxlength="20" />
                                    @Html.Hidden("token", new { value = item.token })
                                </li>
                                <li>
                                    @Html.DisplayFor(modelItem => item.fullname)
                                </li>
                            </ul>

                        </div>
                        <div class="bank">
                            <span class="point">입금정보</span>
                            <span>
                                @Html.DisplayFor(modelItem => item.bank_name)
                            </span>
                            <span class="order-product-caption-inner03">
                                <input id="bank_info" value="@Html.DisplayFor(modelItem => item.acc_no)" style="width:50%; border: none; background: none; width: 100px; text-align:center;" />
                            </span>
                            <span class="order-product-caption-inner03">
                                @Html.DisplayFor(modelItem => item.acc_name)
                            </span>
                            <button onclick="copy('@Html.DisplayFor(modelItem => item.acc_no)')" class="btn btn-danger copyBank">Copy</button>
                        </div>
                        <div class="info_btn">
                            <input class="btn btnOk" type="button" value="구매 확정" onclick="doAction(@Html.DisplayFor(modelItem => item.id));" />
                            <input class="btn btnCa" type="button" value="취 소" onclick="location.href='/Order'" />
                        </div>
                    </div>
                </div>
            }
        }
    </div>
    <script>
        function doAction(id) {
            if (confirm($(".order-product-caption > h3").text() + " 상품을 판매 확정 하시겠습니까?")) {
                var buy_info = "";
                var token = $("#token").val();
                $.ajax({
                    type: "POST",
                    url: "/Order/Appv",
                    data: "{'orderId':" + id + ",'buy_info':'" + buy_info + "','token':'" + token + "'}",
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (msg) {
                        if (msg.err == '0') {
                            alert(msg.errmsg);
                            //location.reload();
                            location.href = "/Order";
                        } else {
                            alert(msg.errmsg);
                        }
                    }
                });


            }
        }
    </script>

    <script>
        function doValidate() {
            if ($.trim($("#buy_info").val()) == "") {
                alert("이체정보를 입력해 주세요.");
                $("#buy_info").focus();
                return false;
            }

            return true;
        }
        function doAction(id) {
            if (doValidate()) {
                if (confirm(" 상품을 구매 확정 하시겠습니까?")) {
                    //$("#cmd").val("/view/order/order_apply_process.json");

                    // $("#order_apply_form").attr("action", "../../frame/order/orderController.asp").submit();
                    var buy_info = $("#buy_info").val();
                    var token = $("#token").val();
                    $.ajax({
                        type: "POST",
                        url: "/Order/Appv",
                        data: "{'orderId':" + id + ",'buy_info':'" + buy_info + "','token':'" + token + "'}",
                        contentType: "application/json; charset=utf-8",
                        dataType: "json",
                        success: function (msg) {
                            if (msg.err == '0') {
                                alert(msg.errmsg);
                                //location.reload();
                                location.href = "/Order";
                            } else {
                                alert(msg.errmsg);
                            }
                        }
                    });


                    //$.mvcAjax({
                    6

                }
            }
        }
    </script>
    <script type="text/javascript">
        function copy(acc_no) {
            var copy = document.querySelector(".bank_info");
            copy.setSelectionRange(0, 99999);
            document.execCommand("copy")
            alert("Copied : " + copy.value);
        }




        document.querySelector(".copy").addEventListener("click", copyText);
        function copyText() {
            var copyText = document.querySelector(".urlJoin");
            copyText.select();
            copyText.setSelectionRange(0, 99999);
            document.execCommand("copy");
            alert("복사 된 텍스트 : " + copyText.value);
        }
    </script>
