﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Sell_apply";
    Layout = "~/Views/Shared/_Layout_Product.cshtml";
}
@Styles.Render("~/common/css/pages/purchase.css")
<div class="pTable">
    <p class="myPoint">
        <span id="txt_chipbal" data-aos="fade-left" data-aos-duration="2000">보유 검</span> : <strong><span id="t_chipbal">@ViewBag.amount</span></strong><br>
    </p>
    @if(Model != null && Model.tab2.Count != 0)
    {
        foreach (var item in Model.tab2)
        {
            <div class="chBox motion bronze on" style=" background: rgba(0,0,0,.8);">
                <div class="left" data-aos="fade-in" data-aos-duration="2000" style="opacity:1;">
                    <p class="coin coinBronze">
                        <img src="@Html.DisplayFor(modelItem => item.img)" style="width:150px;">
                    </p>

                    <p class="name" id="txt_gname1">@Html.DisplayFor(modelItem => item.name)</p>
                    @Html.Hidden("token", new { value = item.token })
                </div>

                <div class="right">
                    <div class="info">
                        <ul>
                            <li class="tit"><span class="txt_price_kor">상품명</span></li>
                            <li class="con">@Html.DisplayFor(modelItem => item.name)</li>
                        </ul>
                        <ul>
                            <li class="tit"><span class="txt_plus">판매자</span></li>
                            <li class="con">@Html.DisplayFor(modelItem => item.fullname)</li>
                        </ul>
                        <ul>
                            <li class="tit"><span class="txt_plus">Mobile</span></li>
                            <li class="con">@Html.DisplayFor(modelItem => item.mobile)</li>
                        </ul>
                        <ul>
                            <li class="tit"><span class="txt_plus">가격</span></li>
                            <li class="con">@Html.DisplayFor(modelItem => item.price)</li>
                        </ul>
                        <ul>
                            <li class="tit"><span class="txt_plus">입금정보</span></li>
                            <li class="con">@Html.DisplayFor(modelItem => item.acc_no)</li>
                        </ul>
                        <ul>
                            <li class="tit"><span class="txt_plus">구매자</span></li>
                            <li class="con">@Html.DisplayFor(modelItem => item.buy_info)</li>
                        </ul>
                    </div>
                    <div class="info_btn">
                        <input class="btn btnOk" type="button" value="판매 확정" onclick="doAction(@Html.DisplayFor(modelItem => item.id));" />
                        <a href="~/Main" class="btnCa">취소</a>
                    </div>
                </div>

            </div>
        }
    }
</div>


<script>
    function doAction(id) {
        if (confirm($(".order-product-caption > h3").text() + " 상품을 판매 확정 하시겠습니까?")) {
            var buy_info = "";
            var token = $("#token").val();
            $.ajax({
                type: "POST",
                url: "/Order/Appv",
                data: "{'orderId':" + id + ",'buy_info':'" + buy_info + "','token':'" + token + "'}",
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (msg) {
                    if (msg.err == '0') {
                        alert(msg.errmsg);
                        //location.reload();
                        location.href = "/Order/Sell_list";
                    } else {
                        //alert(msg.errmsg);
                        location.href = "/Order/Sell_list";
                    }
                }
            });


        }
    }
</script>