﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.ItemListDto>
@{
    ViewBag.Title = "Item List";
}
<div class="xp-contentbar" style="margin-top:60px;">
    <div class="row">
        <!-- Start XP Col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <h5 class="card-title text-black">상품관리 / การจัดการผลิตภัณฑ์</h5>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="xp-alert mt-3">
                       
                    </div>
                </div>
                <div class="card-body" style="margin-top:-20px;">
                    <div class="align-middle">
                        <span class="badge badge-primary badge-pill">전체  @ViewBag.Count 건</span>
                        <div class="float-right">
                            <button type="button" id="btnDel" style="margin-top:-10px;" class="btn btn-rounded btn-danger"><i class="icon-trash mr-2"></i> Delete</button>
                            <button type="button" style="margin-top:-10px;" class="btn btn-rounded btn-success" onclick="location.href='@Url.Action("Create", "ItemList")'"><i class="icon-plus mr-2"></i> Insert</button>
                        </div>
                    </div>
                    <div class="table-responsive m-b-30 mt-2">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="align-middle" style="width:50px;"><input type="checkbox" id="checkAll"></th>
                                    <th class="align-middle">이미지 / ภาพ</th>
                                    <th class="align-middle" style="width:130px;">당첨가격 / จำนวน</th>
                                    <th class="align-middle" style="width:130px;">당첨가격 / ราคาที่ชนะ</th>
                                    <th class="align-middle" style="width:130px;">이자가격 / ราคาดอกเบี้ย</th>
                                    <th class="align-middle">분류 / การจำแนกประเภท</th>
                                    <th class="align-middle" style="width:200px;">최초생성일 / วันที่สร้างครั้งแรก</th>
                                    @*<th class="align-middle" style="width:150px;">관리 / การจัดการ</th>*@
                                </tr>


                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="text-center">
                                            <td class="align-middle">
                                                @Html.CheckBox("templateId", new { value = item.id, @class = "checkBox" })
                                            </td>
                                            <td class="align-middle">
                                                <img src="@Html.DisplayFor(modelItem => item.img)" style="width:50px;">
                                            </td>
                                            <td class="align-middle"> @Html.DisplayFor(modelItem => item.amount)</td>
                                            <td class="align-middle"> @Html.DisplayFor(modelItem => item.price_interest)</td>
                                            <td class="align-middle"> @Html.DisplayFor(modelItem => item.price_win)</td>
                                            <td class="align-middle"> @Html.DropDownListFor(modelItem => item.product_id, new SelectList(ViewBag.product_id, "Value", "Text", item.product_id), new { @class = "form-control bg-white border" }) </td>
                                         
                                            <td class="align-middle"> @Html.DisplayFor(modelItem => item.create_date)</td>
                                            @*<td class="align-middle">
                                                <div class="justify-content-center row">
                                                    @using (Html.BeginForm("Edit", "ItemList", new { id = item.id }, FormMethod.Get))
                                                    {
                                                        <button type="submit" class="btn btn-round btn-primary" style="float: none; margin: 5px;" title="삭제">
                                                            <span class="icon-note"></span>
                                                        </button>
                                                    }
                                                   
                                                </div>
                                            </td>*@
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="text-center">
                                        <td colspan="8">
                                            No Data !!
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    @{
                        if (Convert.ToInt32(ViewBag.Count) > ViewBag.Rows)
                        {
                            <div class="justify-content-center row">

                                @Html.PagedListPager(Model, Page => Url.Action("Index", "ItemList", new { Page }))

                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <!-- End XP Col -->
    </div>
</div>

<script>
    $(function () {
        $("#liCategory").addClass("active");
        $("#meItem").addClass("active");

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });
        $("#btnDel").click(function () {
            var dataarr = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    dataarr.push($(this).val());
                }
            });
            //alert(selectedIDs); return;
            if (dataarr == null || dataarr == "") {
                alert("Please select at least 1 item.");
                return;
            }
            var options = {};
            options.url = "/ItemList/Delete";
            options.type = "POST";
            options.data = JSON.stringify(dataarr);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });
    });
</script>


