﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.SendEmailDto>
@{
    ViewBag.Title = "Send Email";
}
<div class="xp-contentbar" style="margin-top:60px;">
    <div class="row">
        
        <!-- Start XP Col -->
        <div class="col-md-12 col-lg-12 col-xl-12">
            <div class="card m-b-30">
                <div class="card-header bg-white">
                    <div class="float-left">
                        <h5 class="card-title text-black">회원메일발송 / ส่งอีเมลสมาชิก</h5>
                    </div>
                </div>
                <div class="col-md-12 col-lg-12 col-xl-12">
                    <div class="xp-alert mt-3">
                        <div class="alert alert-light" role="alert">
                            <p>
                                테스트는 등록된 최고관리자의 이메일로 테스트 메일을 발송합니다.
                            </p>
                            <p>
                                현재 등록된 메일은 총 0건입니다.
                            </p>
                            <p>
                                <span class="text-danger-gradient">주의) 수신자가 동의하지 않은 대량 메일 발송에는 적합하지 않습니다. 수십건 단위로 발송해 주십시오.</span>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="card-body" style="margin-top:-20px;">
                    <div class="align-middle">
                        <span class="badge badge-primary badge-pill">전체  @ViewBag.Count 건</span>
                        <div class="float-right">
                            <button type="button" id="btnDel" style="margin-top:-10px;" class="btn btn-rounded btn-danger"><i class="icon-trash mr-2"></i> Delete</button>
                            <button type="button" style="margin-top:-10px;" class="btn btn-rounded btn-success" onclick="location.href='@Url.Action("Create", "SendEmail")'"><i class="icon-plus mr-2"></i> Insert</button>
                        </div>
                    </div>
                    <div class="table-responsive m-b-30 mt-2">
                        <table class="table table-bordered">
                            <thead class="thead-dark">
                                <tr class="text-center">
                                    <th class="align-middle" style="width:50px;"><input type="checkbox" id="checkAll"></th>
                                    <th class="align-middle" style="width:50px;">번호 / จำนวน</th>
                                    <th class="align-middle">제목 / หัวข้อ</th>
                                    <th class="align-middle" style="width:150px;">작성일시 / วันที่สร้าง</th>
                                    <th class="align-middle" style="width:90px;">테스트 / ทดสอบ</th>
                                    <th class="align-middle" style="width:90px;">보내기 / ส่ง</th>
                                    <th class="align-middle" style="width:90px;">미리보기 / ดูตัวอย่าง</th>
                                </tr>
                            </thead>
                            <tbody>
                                @if (Model != null && Model.Count() != 0)
                                {
                                    foreach (var item in Model)
                                    {
                                        <tr class="text-center">
                                            <td>
                                                @Html.CheckBox("templateId", new { value = item.id, @class = "checkBox" })
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.id)</td>
                                            <td class="text-left">
                                                @Html.ActionLink(item.name, "Edit", new { id = item.id }, new { @title = "편집하다" })
                                            </td>
                                            <td> @Html.DisplayFor(modelItem => item.create_date)</td>
                                            <td>
                                                <button type="button" onclick="SendTest(@item.id);" class="btn btn-round btn-secondary" title="테스트">
                                                    <span class="icon-envelope-letter"></span>
                                                </button>
                                            </td>
                                            <td scope="col" class="align-middle">
                                                @using (Html.BeginForm("Detail", "SendEmail", new { id = item.id }, FormMethod.Get))
                                                {

                                                    <button type="submit" class="btn btn-round btn-primary" title="보내기">
                                                        <span class="icon-paper-plane"></span>
                                                    </button>
                                                }
                                            </td>
                                            <td scope="col" class="align-middle">
                                                <button type="button" onclick="window.open('@Url.Action("Detail", "SendEmail", new { id = item.id })')" class="btn btn-round btn-warning" title="미리보기"><span class="icon-screen-desktop"></span></button>
                                            </td>
                                        </tr>
                                    }
                                }
                                else
                                {
                                    <tr class="text-center">
                                        <td colspan="7">
                                            No Data !!
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="justify-content-center row">
                        @Html.PagedListPager(Model, Page => Url.Action("Index", "SendEmail", new { Page }))
                    </div>
                </div>
            </div>
        </div>
        <!-- End XP Col -->
    </div>
</div>

<script>
    $(function () {
        $("#liMember").addClass("active");
        $("#meSendEmail").addClass("active");

        $("#checkAll").click(function () {
            $(".checkBox").prop('checked',
                $(this).prop('checked'));
        });


        $("#btnDel").click(function () {
            var selectedIDs = new Array();
            $('input:checkbox.checkBox').each(function () {
                if ($(this).prop('checked')) {
                    selectedIDs.push($(this).val());
                }
            });
            //alert(selectedIDs); return;
            if (selectedIDs == null || selectedIDs == "") {
                alert("Please select at least 1 item.");
                return;
            }
            var options = {};
            options.url = "/SendEmail/Delete";
            options.type = "POST";
            options.data = JSON.stringify(selectedIDs);
            options.contentType = "application/json";
            options.dataType = "json";
            options.success = function (msg) {
                alert(msg);
                location.reload();
            };
            options.error = function () {
                alert("Error while deleting the records!");
            };
            $.ajax(options);

        });
    });
    function SendTest(val) {
        $('#modal').modal('show');
        $.ajax({
            type: "POST",
            url: "/SendEmail/SendAdmin",
            data: "{'pUid':" + val + "}",
            contentType: "application/json; charset=utf-8",
            dataType: "json",
            success: function (msg) {
                if (msg.err == '0') {
                    alert(msg.errmsg);
                    $('#modal').modal('hide');

                } else {
                    alert(msg.errmsg);
                }
            }
        });
    }
</script>
