﻿@model AHCBL.Dto.Admin.MemberListDto
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="xp-authenticate-bg"></div>
    <!-- Start XP Container -->
    <div id="xp-container" class="xp-container">

        <!-- Start Container -->
        <div class="container">

            <!-- Start XP Row -->
            <div class="row vh-100 align-items-center">
                <!-- Start XP Col -->
                <div class="col-lg-12 ">

                    <!-- Start XP Auth Box -->
                    <div class="xp-auth-box">

                        <div class="card">
                            <div class="card-body">
                                <h3 class="text-center mt-0 m-b-15">
                                    <a href="index.html" class="xp-web-logo"><img src="~/vendor/images/logo.png" height="40" alt="logo"></a>
                                </h3>
                                <div class="p-3">
                                    <form action="#">
                                        <div class="text-center mb-3">
                                            <h4 class="text-black">Register !</h4>
                                        </div>
                                        @*<div class="social-login text-center">
                                            <button type="button" class="btn btn-facebook btn-rounded mb-1"><i class="icon-social-facebook m-r-5"></i> Facebook </button>
                                            <button type="button" class="btn btn-googleplus btn-rounded mb-1"><i class="icon-social-google m-r-5"></i> Google+ </button>
                                        </div>
                                        <div class="login-or">
                                            <h6 class="text-muted">OR</h6>
                                        </div>*@
                                        @ViewBag.Message
                                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                        <div class="form-group">
                                            @Html.EditorFor(model => model.username, new { htmlAttributes = new { @class = "form-control bg-white border", placeholder = "아이디" } })
                                            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="" placeholder="회원명">
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.password, new { @class = "form-control bg-white border", placeholder = "비밀번호" })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            @Html.PasswordFor(model => model.password, new { @class = "form-control bg-white border", placeholder = "비밀번호 확인" })
                                            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="" placeholder="휴대폰번호">
                                        </div>
                                        <div class="form-group">
                                            <select class="form-control">
                                                <option>---은행 선택---</option>
                                            </select>
                                            <label>은행명</label>
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="" placeholder="계좌번호">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="" placeholder="예금주">
                                        </div>
                                        <div class="form-group">
                                            <input class="form-control" name="" placeholder="추천아이디">
                                        </div>
                                        <div class="form-row">
                                            <div class="form-group col-12">
                                                <label class="forgot-psw">
                                                    <a id="forgot-psw" href="@Url.Action("Index","Login")">이미 등록된 아이디입니다 ?</a>
                                                </label>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-primary btn-rounded btn-lg btn-block">Sign In</button>
                                    </form>
                                </div>
                            </div>
                            <p class="text-center">&copy; @DateTime.Now.Year - Asia Holding (AHC) Co. Ltd</p>
                        </div>

                    </div>
                    <!-- End XP Auth Box -->

                </div>
                <!-- End XP Col -->
            </div>
            <!-- End XP Row -->
        </div>
        <!-- End Container -->
    </div>
}
