﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<AHCBL.Dto.Admin.ItemListDto>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}

@if (Model != null && Model.Count() != 0)
{
    foreach (var item in Model)
    {

    }
}
        <div class="width1100">
            <p class="pTit" id="txt_page_title">캐릭터 구매 예약</p>
            <div class="pTable">
                <p class="myPoint">
                    <span id="txt_chipbal">보유 꿀벌</span> : <strong><span>@ViewBag.amount</span></strong><br>
                </p>

                <div class="chBox motion bronze on">
                    <div class="left" style="opacity:1;">
                        <p class="coin coinBronze"><img src="../../common/image/product-1.png" class="img-product"></p>
                        <p class="name" id="txt_gname1">Rose 1</p>
                    </div>

                    <div class="right">
                        <div class="info">
                            <ul>
                                <li class="tit"><span class="txt_price_kor">시작가격</span></li>
                                <li class="con">xx</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_price_kor">마지막가격</span></li>
                                <li class="con">xx</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_plus">수익률</span></li>
                                <li class="con">xx</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_day">보유기간</span></li>
                                <li class="con">일</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_chip">수수료</span></li>
                                <li class="con">x<span class="txt_chip">개</span></li>
                            </ul>
                        </div>

                        <p class="qq" id="show_chips_b"></p>
                        <p class="btnBuy ResOrder" id="txt_buy_brz" onclick="doAction()">Rose 1<br>구매예약</p>
                    </div>
                </div>

                <div class="chBox motion silver on">
                    <div class="left">
                        <p class="coin coinSilver"><img src="../../common/image/product-2.png" class="img-product"></p>
                        <p class="name" id="txt_gname2">Rose 2</p>
                    </div>

                    <div class="right">
                        <div class="info">
                            <ul>
                                <li class="tit"><span class="txt_price_usd">가격(KRW)</span></li>
                                <li class="con">xx</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_price_kor">포인트</span></li>
                                <li class="con">xx</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_plus">보유수익</span></li>
                                <li class="con">xx</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_day">보유기간</span></li>
                                <li class="con">일</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_chip">수수료</span></li>
                                <li class="con">xx<span class="txt_chip">알</span></li>
                            </ul>
                        </div>


                        <p class="qq" id="show_chips_b"></p>
                        <p class="btnBuy ResOrder" onclick="">Rose 2<br>구매예약</p>
                    </div>
                </div>

                <div class="chBox motion gold">
                    <div class="left">
                        <p class="coin coinGold"><img src="../../common/image/product-3.png" class="img-product"></p>
                        <p class="name" id="txt_gname3">빨간장미</p>
                    </div>

                    <div class="right">
                        <div class="info">
                            <ul>
                                <li class="tit"><span class="txt_price_usd">시작 가격</span></li>
                                <li class="con">36 만원</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_price_kor">포인트</span></li>
                                <li class="con">3,600 EA</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_plus">보유수익</span></li>
                                <li class="con">x %</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_day">보유기간</span></li>
                                <li class="con">x 일</li>
                            </ul>
                            <ul>
                                <li class="tit"><span class="txt_chip">꿀벌</span></li>
                                <li class="con">70 <span class="txt_chip"> 개</span></li>
                            </ul>
                        </div>

                        <p class="qq" id="show_chips_b"></p>
                        <p class="btnBuy ResOrder" onclick="">Rose 3<br>구매예약</p>
                    </div>
                </div>
            </div>
        </div>