﻿@model IEnumerable<AHCBL.Dto.Admin.ItemListDto>
@{
    ViewBag.Title = "Product";
    Layout = "~/Views/Shared/_Layout_Product.cshtml";
}

<div class="purchase" data-aos="fade-in" data-aos-duration="2000" style="margin-bottom:20px;">
    <div class="purchase-caption-inner" style="width:100%;">
        <span>구매예약</span>
    </div>
</div>

<div class="pTable">
    <p class="myPoint">
        <span id="txt_chipbal" data-aos="fade-left" data-aos-duration="2000">보유 검</span> : <strong><span id="t_chipbal">@ViewBag.amount</span></strong><br>
    </p>
    @foreach (var item in Model)
    {
        <div class="chBox motion bronze on">
            <div class="left" data-aos="fade-in" data-aos-duration="2000" style="opacity:1;">
                <p class="coin coinBronze"><img src="@Html.DisplayFor(modelItem => item.img)" class="img-product"></p>
                <p class="name" id="txt_gname1">@Html.DisplayFor(modelItem => item.name)</p>
            </div>

            <div class="right">
                <div class="info">
                    <ul>
                        <li class="tit"><span class="txt_price_kor">시작가격(KRW)</span></li>
                        <li class="con">￦ @Html.DisplayFor(modelItem => item.price)</li>
                    </ul>
                    <ul>
                        <li class="tit"><span class="txt_price_kor">마지막가격(KRW)</span></li>
                        <li class="con">
                            <span>
                                @{
                                    if (item.id == 1)
                                    {
                                        <span>￦ 313,843</span>
                                    }
                                    else
                                    {
                                        <span>￦ 650,390</span>
                                    }


                            }
                        </span>
                    </li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_plus">수익률</span></li>
                    <li class="con">@Html.DisplayFor(modelItem => item.percen) %</li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_day">보유기간</span></li>
                    <li class="con">@Html.DisplayFor(modelItem => item.day) <span class="txt_chip">일</li>
                </ul>
                <ul>
                    <li>
                        <p class="qq" id="show_chips_b">
                            @{
                                var url = string.Format(
                                    "/Product/Product_order/?Token={0}",
                                    @Uri.EscapeDataString(item.token.ToString()));
                            }
                        </p>
                    </li>
                </ul>
            </div>
            <div class="info_btn">
                <a class="ResOrder btn on" href="@url">@Html.DisplayFor(modelItem => item.name) <br /> 구매예약</a>
            </div>
        </div>

    </div>

}
    <div class="chBox motion bronze on" style=" background: #000;">
        <div class="left" data-aos="fade-in" data-aos-duration="2000" style="opacity:1;">
            <p class="coin coinBronze">
                <img src="../../common/image/product-3.png" class="img-product">
            </p>

            <p class="name" id="txt_gname1">피닉스</p>
        </div>

        <div class="right">
            <div class="info">
                <ul>
                    <li class="tit"><span class="txt_price_kor">가격(KRW)</span></li>
                    <li class="con">￦ 0</li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_plus">수익률</span></li>
                    <li class="con">0 %</li>
                </ul>
                <ul>
                    <li class="tit"><span class="txt_day">보유기간</span></li>
                    <li class="con">0<span class="txt_chip">일</li>
                </ul>
            </div>
            <div class="info_btn">
                <a style="color: #fff; background: #d00000;" class="ResOrder btn on" href="">피닉스 <br />구매예약</a>
            </div>
        </div>

    </div>
</div>

<script>
    function doAction() {
        location.href = "./Product_order";
    }
</script>
