﻿@model AHCBL.Dto.User.OrderDto
@{
    ViewBag.Title = "Main";
    Layout = "~/Views/Shared/_Layout_Main.cshtml";
}
<div class="dash-bonus">
    <div class="gnp" data-aos="fade-right" data-aos-duration="2000">
        <img src="../../common/image/logo.png" style="z-index:9999; width:180px;">
        <span style="z-index: 999;color: #f2cd7d;position: relative;top: 0px;font-size: 24px;">@Session["username"]</span>
        <img src="../../common/image/button2.png" style=" width: 235px; margin-top: -100px;">
    </div>
</div>

<div class="dash-menu">
    <div class="dash-menu-inner" data-aos="fade-left" data-aos-duration="2000">
        <a href="@Url.Action("Index","Order")" class="dash-menu-content">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-1.png">
                <span class="text-main">구매내역</span>
            </span>
        </a>
        <a href="@Url.Action("Sell_list","Order")" class="dash-menu-content">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-3.png">
                <span class="text-main">판매내역</span>
            </span>
        </a>

    </div>
    <div class="dash-menu-inner" data-aos="fade-right" data-aos-duration="2000">
        <a href="@Url.Action("Index","Product")" class="dash-menu-content">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-2.png" style="width:150px;">
                <span class="text-main">구매예약</span>
            </span>
        </a>
    </div>
    <div class="dash-menu-inner" data-aos="fade-left" data-aos-duration="2000">
        <a href="@Url.Action("Order_have","Order")" class="dash-menu-content">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-5.png">
                <span class="text-main">보유현황</span>
            </span>
        </a>
        <a href="@Url.Action("Index","Notice")" class="dash-menu-content">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-4.png">
                <span class="text-main">게시판</span>
            </span>
        </a>
    </div>
    <div class="dash-menu-inner" data-aos="fade-right" data-aos-duration="2000">
        <a href="@Url.Action("Index","Member")" class="dash-menu-content">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-6.png">
                <span class="text-main">내정보</span>
            </span>
        </a>
    </div>

    <div class="dash-menu-inner" data-aos="fade-left" data-aos-duration="2000">

        <a class="dash-menu-content copy" style="cursor:pointer;">
            <!--copy-->
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-7.png">
                <span class="text-main">추천링크</span>
            </span>
        </a>
        <a href="@Url.Action("Index","ChartMember")" class="dash-menu-content" target="_blank">
            <span style="display:flex; flex-direction:column;">
                <img class="img-main-dash" src="../../common/image/main-8.png">
                <span class="text-main">조직도</span>
            </span>
        </a>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#show_pd1").click(function () {
            $(".product-1").show();
            $(".product-2").hide();
            $(".product-3").hide();
            $("#order-1").hide();
            $("#order-2").hide();
            $("#order-3").hide();
        });
        $("#show_pd2").click(function () {
            $(".product-1").hide();
            $(".product-2").show();
            $(".product-3").hide();
            $("#order-1").hide();
            $("#order-2").hide();
            $("#order-3").hide();
        });
        $("#show_pd3").click(function () {
            $(".product-1").hide();
            $(".product-2").hide();
            $(".product-3").show();
            $("#order-1").hide();
            $("#order-2").hide();
            $("#order-3").hide();
        });
        $(".show_pd4").click(function () {
            $(".product-1").hide();
            $(".product-2").hide();
            $(".product-3").hide();
            $("#order-1").show();
            $("#order-2").hide();
            $("#order-3").hide();
        });
        $(".show_pd5").click(function () {
            $(".product-1").hide();
            $(".product-2").hide();
            $(".product-3").hide();
            $("#order-1").hide();
            $("#order-2").show();
            $("#order-3").hide();
        });
        $(".show_pd6").click(function () {
            $(".product-1").hide();
            $(".product-2").hide();
            $(".product-3").hide();
            $("#order-1").hide();
            $("#order-2").hide();
            $("#order-3").show();
        });
    });
</script>

<script>
    function doAction() {
        location.href = "./Product/Product_order";
    }


    // Get the modal
    var modal = document.getElementById("modalShowChange");
    var btn = document.getElementById("slotExhange");
    var span = document.getElementsByClassName("close")[0];

    /*
    btn.onclick = function () {
        modal.style.display = "block";
    }

    span.onclick = function () {
        modal.style.display = "none";
    }

    window.onclick = function (event) {
        if (event.target == modal) {
            modal.style.display = "none";
        }
    }
    */
    $(document).ready(function () {
        $(function () {
            $('.his_tb_amount').each(function (index, item) {
                //console.log("tbody_td4 " + parseFloat($(item).html()));
                if (parseFloat($(item).html()) < 0) {
                    console.log("ssss " + parseFloat($(item).html()));
                    $('.his_tb_amount').addClass('text-red');
                    $('.his_tb_amount').removeClass('text-red');
                } else {
                    $('.his_tb_amount').removeClass('text-red');
                    $('.his_tb_amount').addClass('text-green');
                }
            });
        });
    });
</script>


